.stats {
  background-color: rgba(128, 128, 128, 0.427);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  // blur background
  backdrop-filter: blur(4px);
  justify-content: space-around;
  display: none;

  &-item {
    display: flex;
    align-items: center;
  }
}

.container {
  max-width: 1300px;
  margin: 10px auto;
}
.search-form {
  margin-top: 20px;
  text-align: center;

  & input {
    width: 80%;
    padding: 5px;
    height: 50px;
    border: 1px solid #797575;
    font-size: 30px;
    border-radius: 5px;
    outline: none;
  }
}

.button {
  position: relative;
  padding: 20px;
  display: block;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  display: none;
}

.gallery-width,
.photo-card {
  width: 33.3333%;

  &:hover {
    .stats {
      display: flex;
    }
  }
}
