body {
  height: 100vh;
}
.timer {
  display: flex;
  justify-content: center;
}
.field {
  font-size: 30px;
}

.error-message {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: red;
  display: none;
}
